@import url('https://fonts.googleapis.com/css2?family=Handlee&family=M+PLUS+1+Code:wght@100;300;500&display=swap');

*
{
    padding: 0;
    margin: 0;
}
/******** Home Page ********/
.home
{
    text-align: center;
}
/*** Main Start ***/
.main
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('../images/background/coding-laptop.jpg');
    background-size: cover;
    height: 720px;

    display: flex;
    justify-content: center;
}
.main-container
{
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    width: 70%;
    height: 70%;
    margin-top: 5vw;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-info *
{
    margin-top: 55px;
}
.main-info h1
{
    font-family: 'M PLUS 1 Code', sans-serif;
}
/*** Main End ***/

/*** Courses Start ***/
.home-courses
{
    margin: 50px 0;
}
.home-courses h2
{
    padding-bottom: 20px;
}
.home-courses h2 span
{
    color: rgb(48, 123, 252);
}
.home-courses-btn
{
    width: 180px;
    margin-top: 10px;
}
.home-courses-top
{
    display: flex;
    justify-content: center;

    margin: 0 120px;
}
.home-courses-top-info 
{
    margin: 0 10px;
    padding: 0;
}
.home-courses-top-info img
{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 7px;
}
.home-courses-top-info p
{
    line-height: 0.6;
}
.home-courses-top-info p:nth-child(2)
{
    font-size: 20px;
    color: rgb(65, 65, 65);
}
/*** Courses End ***/

/*** Footer Start ***/
#footer
{
    color: rgb(65, 65, 65);
}
/*** Footer End ***/

/******** Home Page end ********/

/******** Courses Page ********/

.courses-container
{
    margin-top: 30px;
    display: flex;
}

.courses-filter
{
    width: 20%;
    padding: 0 20px;
    margin-left: 10%;
}

.courses-filter-search
{
    height: 45px;
    width: 100%;
    background-color: #dfdfdf;
    padding: 0 15px;
    border: 0;
    border-radius: 4px;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background: url("../images/icon/close.png");
    background-size: contain;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.courses-filter-categories
{
    margin: 15px 0;
}

.courses-categories button
{
    color: gray;
    background-color: white;
    text-align: left;
    text-decoration: none;
    width: 55px;
    padding: 5px 5px;
    margin-left: 7px;
    border: 0;
}

.courses-filter-price :first-child
{
    margin-bottom: 15px;
}

.courses-filter-price input[type=range] 
{
    width: 100%;
}

.courses-display
{
    flex: 1;
    margin-right: 10%;
}

.courses-grid
{
    display: flex;
    justify-content: left;
}

.courses-grid-info
{
    text-align: center;
    width: 30%;
    margin: 0 5px;
    padding: 0;
}
.courses-grid-info img {
    width: 100%;
    height: 10.51vw;/* Ratio 16 / 9 */
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.courses-grid-info p:nth-child(2) {
    color: rgb(65, 65, 65);
}
/******** Courses Page end ********/

/******** About Page ********/
.about-container
{
    margin: 30px 10% 0 10%;
    display: flex;
    justify-content: space-between;
}
.about-description
{
    width: 50%;
}
.about-description-info p
{
    margin-top: 20px;
}

.about-description-info h5,
.about-description-info h6,
.about-description-info-phone
{
    color: rgb(72, 3, 72);
    font-family: 'Handlee', cursive;
}
.about-description-info-phone
{
    white-space: nowrap;
    margin: 50px 0;
}
.about-description-socialmedia
{
    margin-bottom: 25px;
}
.about-description-socialmedia a
{
    text-decoration: none;
    padding-right: 20px;
}

.about-image img
{
    width: 35vw;
    max-width: 300px;
    border-radius: 0 0 75px 0;
}
/******** About Page end ********/

/* Media Query */
@media (max-width: 800px) 
{
    /******** Home Page ********/
    .home-courses-top 
    {
        display: block;
        margin: 0 50px;
    }
    /******** Home Page end ********/
    
    /******** Courses Page ********/
    .courses-container 
    {
        display: block;
    }
    .courses-filter 
    {
        width: auto;
        padding: 0 20px;
        margin: 0 10%;
    }
    .courses-display 
    {
        margin: 0 10%;
    }
    .courses-grid
    {
        display: block;
    }
    .courses-grid-info 
    {
        width: 100%;
    }
    .courses-grid-info img 
    {
        height: 46vw;
    }
    /******** Courses Page end ********/

    /******** About Page ********/
    /******** About Page end ********/
}
@media (max-width: 400px)
{
    .about-container 
    {
        justify-content: center;
    }
    .about-description {
            width: 80%;
    }
    .about-image img 
    {
        width: 100px;
    }
}